@using ATGHR.Models.Enums
@model ResourcesFileListDto

@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1 class="ui header centered">Standard Operating Procedures (SOPs)</h1>
<div class="ui container">
<h2 class="ui header">Accounting</h2>
<div class="ui container">
	<div class="ui list">
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP- Template_Travel and Credit Cards.docx" target="_blank" class="header">Template_Travel and Credit Cards</a>
				<div class="description">The purpose of this SOP is to provide guidelines for employees when making or requesting travel requests.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP-Active_Inactive Project Transition.docx" target="_blank" class="header">Active_Inactive Project Transition</a>
				<div class="description">Provide guidelines for the appropriate time to update a Project or Project tasks to inactive or active and the required method to request Accounting make the change.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP-Archive Hard Files.docx" target="_blank" class="header">SOP-Archive Hard Files</a>
				<div class="description">The goal is to ensure dormant projects are filed properly and contain all necessary and applicable documents.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP-Exec Meeting - Overview and AR.docx" target="_blank" class="header">Exec Meeting - Overview and AR</a>
				<div class="description">Create Overview and AR reports for Monday Executive Team meeting.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP-Exec Reports_Time Analysis-Oct to Sept.docx" target="_blank" class="header">Exec Reports_Time Analysis-Oct to Sept</a>
				<div class="description">This report is generated from Deltek Vision and provides a running total of the performance metrics by Group (Practice Area) and Discipline for each employee and is presented at the weekly meeting every Monday.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP-Exec Reports_Time Analysis-YTD.docx" target="_blank" class="header">Exec Reports_Time Analysis-YTD</a>
				<div class="description">This report is generated from Deltek Vision and provides a running total of the year-to-date metrics by Group (Practice Area) and Discipline for each employee and is presented at the weekly meeting every Monday.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP-Payroll Processing Posting.docx" target="_blank" class="header">Payroll Processing Posting</a>
				<div class="description">To provide a posting process for the bi-weekly payroll and ensure payroll for all employees is recorded correctly in Deltek Vision and reconciles to ADP.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP-Private Client Contracting and AR_Final.pdf" target="_blank" class="header">Private Client Contracting and AR_Final</a>
				<div class="description">To outline Private Client Contract and Payment Standard Operating Procedures.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP-Project Closeout-Small projects.docx" target="_blank" class="header">Project Closeout-Small projects</a>
				<div class="description">Adjust process to have more timely closeout for small projects (<$20k). </div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP-Project Setup and Initiation.docx" target="_blank" class="header">Project Setup and Initiation</a>
				<div class="description">Outline the requirements and process for Project Managers to request a job chargeable project number (EGDV, PLDV) from accounting, and all necessary tasks that must be completed to initiate project.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Accounting SOP-Timesheet Review and Posting.docx" target="_blank" class="header">Timesheet Review and Posting</a>
				<div class="description">Timesheet review by the accounting department provides assurance that the time reported is accurate and adheres to the company’s Employee Handbook and is properly approved by a supervisor.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Additional Services Contract Template.docx" target="_blank" class="header">Additional Services Contract Template</a>
				<div class="description">A description of the SOP or other file details.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Client_Info_Sheet_20210621.pdf" target="_blank" class="header">Client Info Sheet</a>
				<div class="description">A description of the SOP or other file details.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/Private Client Contracting and AR SOP_Final_R1.pdf" target="_blank" class="header">Private Client Contracting and AR SOP Final R1</a>
				<div class="description">A description of the SOP or other file details.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Accounting/TIA - Contract and Provisions_Final.pdf" target="_blank" class="header">TIA - Contract and Provisions_Final</a>
				<div class="description">A description of the SOP or other file details.</div>
			</div>
		</div>

		@foreach (var item in Model.Files.Where(x=>x.SopCategory == SopCategory.Accounting))
		{
			<div class="item">
				<i class="large file pdf outline middle aligned icon"></i>
				<div class="content">
					<a href="~/documents/commonfiles/@item.FileName" target="_blank" class="header">@item.Title</a>
					<div class="description">@item.Description</div>
				</div>
			</div>
		}

	</div>
</div>
<h2 class="ui header">Corporate</h2>
<div class="ui container">
	<div class="ui list">
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Example SOP.pdf" target="_blank" class="header">File #1</a>
				<div class="description">A description of the SOP or other file details.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Example SOP.pdf" target="_blank" class="header">File #2</a>
				<div class="description">A description of the SOP or other file details.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Example SOP.pdf" target="_blank" class="header">File #3</a>
				<div class="description">A description of the SOP or other file details.</div>
			</div>
		</div>

			@foreach (var item in Model.Files.Where(x=>x.SopCategory == SopCategory.Corporate))
        	{
        		<div class="item">
        			<i class="large file pdf outline middle aligned icon"></i>
        			<div class="content">
        				<a href="~/documents/commonfiles/@item.FileName" target="_blank" class="header">@item.Title</a>
        				<div class="description">@item.Description</div>
        			</div>
        		</div>
        	}
	</div>
</div>
<h2 class="ui header">Human Resources</h2>
<div class="ui container">
	<div class="ui list">
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop//HR/HR SOP ATG Performance Review Process formatted.docx" target="_blank" class="header">ATG Performance Review Process</a>
				<div class="description">It is critical to Alliance’s success that every employee works toward meeting our business goals.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop//HR/HR_SOP_COBRA_Gen_Notice_QEN formatted.docx" target="_blank" class="header">COBRA Gen Notice + QEN</a>
				<div class="description">All full-time employees are eligible for benefits, the first of the month after DOH.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop//HR/Humana_Enroll_Term_formatted.docx" target="_blank" class="header">Humana Enroll Term</a>
				<div class="description">As of 12/01/2019, ATG is offering Humana coverage for Dental and Vision ONLY. All full-time employees are eligible for benefits, the first of the month after DOH.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop//HR/HR SOP Onboarding wk 1.docx" target="_blank" class="header">Onboarding wk 1</a>
				<div class="description">Post completion of hiring process (interviewing, offer letter, onboard forms), the new hire needs to go through procedures to effectively integrate into the company and familiarize with ATG policies, culture and services.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop//HR/HR SOP UHC Enroll  Term formatted.docx" target="_blank" class="header">UHC Enroll Term</a>
				<div class="description">All full-time employees are eligible for benefits, the first of the month after DOH.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop//HR/HR SOP UNUM Enroll Term formatted.docx" target="_blank" class="header">UNUM Enroll Term </a>
				<div class="description">All full-time employees are eligible for Life/AD&D, STD, LTD benefits, on their first day of hire, or transition from part-time to full-time.</div>
			</div>
		</div>

				@foreach (var item in Model.Files.Where(x=>x.SopCategory == SopCategory.Hr))
        		{
        			<div class="item">
        				<i class="large file pdf outline middle aligned icon"></i>
        				<div class="content">
        					<a href="~/documents/commonfiles/@item.FileName" target="_blank" class="header">@item.Title</a>
        					<div class="description">@item.Description</div>
        				</div>
        			</div>
        		}

	</div>
</div>
<h2 class="ui header">Marketing &amp; Business Development</h2>
<div class="ui container">
	<div class="ui list">
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Marketing/Registrations SOP.docx" target="_blank" class="header">Registrations</a>
				<div class="description">Obtain and maintain professional, technical and business registrations that allow ATG opportunities to pursue work. In particular, these responsibilities include.</div>
			</div>
		</div>

				@foreach (var item in Model.Files.Where(x=>x.SopCategory == SopCategory.MarketingAndBusinessDevelopment))
        		{
        			<div class="item">
        				<i class="large file pdf outline middle aligned icon"></i>
        				<div class="content">
        					<a href="~/documents/commonfiles/@item.FileName" target="_blank" class="header">@item.Title</a>
        					<div class="description">@item.Description</div>
        				</div>
        			</div>
        		}

	</div>
</div>
<h2 class="ui header">Operations</h2>
<div class="ui container">
	<h3 class="ui header" style="margin-left: 25px;">Planning</h3>
	<div class="ui list" style="margin-left: 25px;">
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Planning/Crash Analysis SOP.docx" target="_blank" class="header">Crash Analysis</a>
				<div class="description">To analyze crash data and generate a report of findings at an appropriate level of detail to support the scale/scope of the project in which the crash analysis is to be incorporated.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Planning/Plan Components SOP Draft 20210622_V1.docx" target="_blank" class="header">Plan Components Draft</a>
				<div class="description">Metropolitan Transportation Plans (MTPS) are a Federally mandated process to be able to receive federal dollars in any urbanized area with a population of at least 50k.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Planning/Plan Components SOP.docx" target="_blank" class="header">Plan Components</a>
				<div class="description">Metropolitan Transportation Plans (MTPS) are a Federally mandated process to be able to receive federal dollars in any urbanized area with a population of at least 50k.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Planning/Ridership Analysis_SOP.docx" target="_blank" class="header">Ridership Analysis</a>
				<div class="description">Ridership analysis is a key part of almost every transit plan. This SOP details how to process data from transit providers to ensure an accurate and easy-to-understand output of ridership data.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Planning/STOPS SOP_20210524.docx" target="_blank" class="header">STOPS Model Process</a>
				<div class="description">The Simplified Trips-on-Project Software (STOPS) is a series of programs designed to quickly produce plausible forecasts of transit project ridership using readily available census data, transit ridership and schedule information, and metropolitan planning organization forecasts of demographic growth.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Planning/TDM Support of TP&P Corridor Forecasting SOP.docx" target="_blank" class="header">TDM Support of TP&P Corridor Forecasting SOP</a>
				<div class="description">Corridor forecasting involves assessing traffic on an existing or future roadway.</div>
			</div>
		</div>

				@foreach (var item in Model.Files.Where(x=>x.SopCategory == SopCategory.Planning))
        		{
        			<div class="item">
        				<i class="large file pdf outline middle aligned icon"></i>
        				<div class="content">
        					<a href="~/documents/commonfiles/@item.FileName" target="_blank" class="header">@item.Title</a>
        					<div class="description">@item.Description</div>
        				</div>
        			</div>
        		}

	</div>
</div>
<br>
<div class="ui container">
	<h3 class="ui header" style="margin-left: 25px;">Engineering </h3>
	<div class="ui list" style="margin-left: 25px;">
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Example SOP.pdf" target="_blank" class="header">File #1</a>
				<div class="description">A description of the SOP or other file details.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Example SOP.pdf" target="_blank" class="header">File #2</a>
				<div class="description">A description of the SOP or other file details.</div>
			</div>
		</div>
		<div class="item">
			<i class="large file pdf outline middle aligned icon"></i>
			<div class="content">
				<a href="~/documents/sop/Example SOP.pdf" target="_blank" class="header">File #3</a>
				<div class="description">A description of the SOP or other file details.</div>
			</div>
		</div>

				@foreach (var item in Model.Files.Where(x=>x.SopCategory == SopCategory.Engineering))
        		{
        			<div class="item">
        				<i class="large file pdf outline middle aligned icon"></i>
        				<div class="content">
        					<a href="~/documents/commonfiles/@item.FileName" target="_blank" class="header">@item.Title</a>
        					<div class="description">@item.Description</div>
        				</div>
        			</div>
        		}

	</div>
</div>
</div>
